{% load static %}
<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    {% block title %}
        <title></title>
    {% endblock %}

    {% block extend-load %}
    {% endblock %}
    <link href="{% static 'css/main.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body class="text-center">

<div id="alert-box" class="alert align-items-center" role="alert" style="display: none !important;">
    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" width="20"
         height="20"
         viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
    </svg>
    {% block alert-box %}
        <span>{{ message|default:"" }}</span>
    {% endblock %}
</div>

<main class="form-signin w-100 m-auto mt-6">
    {% block main %}
    {% endblock %}
</main>
</body>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
{% block external-js %}
{% endblock %}
</html>
