{% extends 'base-login.html' %}
{% load static %}

{% block title %}
    <title>ASR Lab - 重置密码</title>
{% endblock %}

{% block main %}
    <!-- reset start -->
    <form id="reset" autocomplete="off">
        <div class="logo">
            <img class="mb-4" src="{% static 'images/svg/openai.svg' %}" alt="" width="80" height="80"/>
        </div>
        <h1 class="h4 mb-4 fw-normal">重置密码</h1>

        <div class="form-floating">
            <p>{{ email }}</p>
        </div>

        <div class="form-floating mt-2">
            <input
                    data-type="register"
                    name="password_1"
                    type="password"
                    class="form-control form-bg"
                    id="floatingPassword"
                    placeholder="Password"
            />
            <label for="floatingPassword">新密码</label>
        </div>

        <div class="form-floating">
            <input
                    data-type="register"
                    name="password_2"
                    type="password"
                    class="form-control form-bg"
                    id="floatingPasswordComfirm"
                    placeholder="Comfirm Password"
            />
            <label for="floatingPassword">确认新密码</label>
        </div>

        <div class="mt-4">
            <button data-type="reset" class="btn btn-primary w-50 p-1" type="submit" target="{% url 'users:login' %}">
                确认重置
            </button>
        </div>
        {% csrf_token %}
    </form>
    <!-- reset end -->
{% endblock %}